*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-area{
    width: 100%;
    height: 90vh;
    /* border: 3px solid gold; */
    background-image: url(img/hero-bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    /* display: flex; */
    >.img{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        /* border: 2px solid green; */
        >figure{
            width: 80%;
            height: 100%;
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.349);
            >img{
                width: 100px;
                height: 80px;
                object-fit: cover;
            }
        }
    }
    /* _________ end of .img_____________ */
    >.navgtion{
        width: 100%;
        height: 80px;
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        >ul{
            width: 80%;
            height: 100%;
            /* background-color: darkblue; */
            border-bottom: 1px solid rgba(255, 255, 255, 0.351);
            display: flex;
            >li{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                >a{
                    text-align: center;
                    /* padding: 0 13px 0px 13px; */
                    text-decoration: none;
                    display: inline-block;
                    color: #fff;
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: uppercase;
                    outline: none;
                    transition: .3s;
                    &:hover{
                        color: #f42f2c;
                    }
                }
            }
        }
    }
    /* ______________ end of navgition_____________ */
    >.information{
        width: 100%;
        height: 350px;
        /* border: 2px solid green; */
        display: flex;
        justify-content: center;
        >header{
            width: 80%;
            height: 100%;
            /* background-color: darkblue; */
            >h6{
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: 2px;
                font-size: 20px;
                color: white;
                padding-top: 30px;
            }
            >h1{
                font-size: 60px;
                font-weight: 700;
                color: #fff;
                padding-top: 30px;
            }
            >p{
                width: 500px;
                font-size: 16px;
                color: #fff;
                padding-top: 30px;
            }
            >li{
                width: 200px;
                height: 50px;
                background-color: #f42f2c;
                align-items: center;
                list-style: none;
                margin-top: 30px;
                transition: .4s;
                &:hover{
                    background-color: #333;
                }
                >a{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 50px;
                    font-weight: 800;
                    color: #fff;
                    list-style: none;
                    padding-left: 30px;
                    text-decoration: none;
                }
            }
        }
    }
    /* _____________ end of .information_______________ */
}
/* _______________ end of .banner-area________________ */
/* _______________ start  .bout-area________________ */
.bout-area{
    width: 100%;
    height: 80vh;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    margin-top: 110px;
    >section{
        width: 90%;
        height: 90%;
        /* border: 2px solid red; */
        display: flex;
        >div{
            width: 100%;
            height: 100%;
            /* background-color: darkblue; */
            >h3{
                font-family: "Poppins", sans-serif;
                font-size: 60px;
                font-weight: 600;
                text-transform: capitalize;
                color: #222;
                padding-top: 30px;
            }
            >p{
                width: 400px;
                color: #777;
                font-family: "Poppins", sans-serif;
                padding-top: 30px;
            }
            >ul{
                width: 180px;
                height: 50px;
                >li{
                    /* border: 2px solid black; */
                    text-align: center;
                    align-items: center;
                    background-color:#f42f2c;
                    font-size: 14px;
                    list-style: none;
                    margin-top: 30px;
                    box-shadow: #f42f2c;
                    >a{
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                        line-height: 50px;
                        height: 100%;
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                        text-transform: uppercase;
                        transition: .4s;
                        &:hover{
                            box-shadow: -10px 15px 50px #f42f2c;
                        }
                    }
                }
            }
            /* _____ end of ul ____ */
        }
        >figure{
            width: 100%;
            height: 100%;
            /* background-color: red; */
        }
    }
}
/* _____________ end of .abuot-area-______________- */
/* ___________________ start of .row+____________ */
.row{
    width: 100%;
    height: 50vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    background-color: #F9F9FF;
    >div{
        width: 45%;
        height: 230px;
        /* border: 2px solid red; */
        margin-top: 90px;
        >h2{
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            line-height: 1.2em;
            color: #222;
            text-align: center;
            /* line-height: 90px; */
            font-size: 38px;
            padding-top: 40px;
        }
        >p{
            color: #777;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.625em;
            text-align: center;
        }
    }
}
/* ________________ end of .row_________________ */
/* ______________- start of .menu___________ */
.menu{
    width: 100%;
    height: 107vh;
    /* border: 3px solid black; */
    background-color: #F9F9FF;
    >div{
        width: 100%;
        height: 120px;
        /* border: 3px solid green; */
        display: flex;
        justify-content: center;
        >nav{
            width: 80%;
            height: 100%;
            /* background-color: darkblue; */
            >ul{
                /* width: 100%; */
                height: 100%;
                display: flex;
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                /* background-color: darkblue; */
                border-radius: 19PX;
                >li{
                    /* border: 2px solid red; */
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    &:nth-of-type(1)>a{
                        background-color: #f42f2c;
                        border-top-left-radius: 19px;
                        border-bottom-left-radius: 19px;
                        color: white;
                    }
                    >a{
                        /* width: 100%; */
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: #222;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    /* ____________________ end of div _______________________ */
    >.single-menu{
        width: 100%;
        height: 70%;
        /* border: 2px solid gold; */
        display: flex;
        justify-content: center;
        margin-top: 70px;
        >div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 72%;
            height: 100%;
            /* background-color: darkblue; */
            >section{
                width: 500px;
                height: 150px;
                /* border: 2px solid red; */
                border-radius: 11px;
                position: relative;
                background-color: #fff;
                &::after{
                    content:'$49';
                    display: block;
                    width: 50px;
                    height: 50px;
                    /* background-color: green; */
                    text-align: center;
                    line-height: 50px;
                    font-size: 25px;
                    color: #f42f2c;
                    position: absolute;
                    font-weight: 500;
                    top: 0;
                    right: 0;
                }
                >h4{
                    color: #222222;
                    font-size: 20px;
                    padding-left: 20px;
                    padding-top: 20px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                }
                >p{
                    width: 400px;
                    padding-left: 20px;
                    padding-top: 20px;
                    color: #777777;
                }
            }
        }
    }
    /* ____________________ end of .single-menu _______________________ */
}
/* ______________- end of .menu___________ */
/* ____________________ start of .information_______________________ */
.information-area{
    width: 100%;
    height: 110vh;
    background-image: url(img/reservation-bg.jpg);
    background-size: cover;
    >section{
        width: 100%;
        height: 100%;
        background-color: rgba(17, 22, 24, 0.75);
        display: flex;
        justify-content: center;
        >div{
            margin-top: 90px;
            width: 75%;
            height: 60%;
            /* border: 2px solid gold; */
            display: flex;
            justify-content: space-between;
            >section{
                width: 500px;
                height: 100%;
                /* background-color: darkblue; */
                &:nth-of-type(1){
                    text-align: center;
                    >h3{
                        width: 400px;
                        height: 100px;
                        /* border: 2px solid red; */
                        font-size: 27px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 600;
                        color: #fff;
                        padding-top: 180px;
                        padding-left: 50px;
                    }
                    >p{
                        color: #fff;
                        font-weight: 600;
                        font-family: 'Courier New', Courier, monospace;
                        padding-top: 140px;
                        font-size: 14px;
                    }
                }
                /* ________________ end of section1___________________ */
                &:nth-of-type(2){
                    width: 450px;
                    height: 500px;
                    /* border: 2px solid red; */
                    background-color: #fff;
                    backdrop-filter: blur(0px) saturate(100%);
                    -webkit-backdrop-filter: blur(0px) saturate(100%);
                    background-color: rgba(180, 32, 32, 0);
                    border-radius: 12px;
                    border: 1px solid rgba(209, 213, 219, 0.3);
                    >form{
                        width: 100%;
                        height: 100%;
                        padding: 50px;
                        >input{
                            margin-top: 10px;
                            width: 100%;
                            height: 40px;
                            border: 1px solid rgba(128, 128, 128, 0.626);
                            padding-left: 10px;
                            border-radius: 20px;
                            background-color: transparent;
                            color: #111;
                        }
                        >select{
                            width: 100%;
                            height: 40px;
                            margin-top: 10px;
                            border: 1px solid rgba(128, 128, 128, 0.626);
                            border-radius: 20px;
                            background-color: transparent;
                            >option{
                                width: 100%;
                                height: 100%;
                                &:hover{
                                    color: red;
                                }
                            }
                        }
                        >button{
                            width: 200px;
                            height: 45px;
                            margin-left: 70px;
                            margin-top: 20px;
                            background-color: #f42f2c;
                            border: none;
                            transition: .4s;
                            >a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: inherit;
                                height: 100%;
                                color: #fff;
                                font-weight: 400;
                                text-decoration: none;
                            }
                            &:hover{
                                box-shadow: 0 0 20px #f42f2c;
                            }
                        }
                    }
                }
                /* ________________ end of section2 ___________________ */
            }
        }
        /* ________________ end of div___________________ */
    }
    /* ________________ end of section ___________________ */
}
/* ____________________ end of .information _______________________ */
/* ___________________________ start of .container _____________________ */
.container{
    width: 100%;
    height: 250px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    background-color: #F9F9FF;
    >div{
        width: 45%;
        height: 230px;
        /* border: 2px solid red; */
        margin-top: 90px;
        >h2{
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            line-height: 1.2em;
            color: #222;
            text-align: center;
            /* line-height: 90px; */
            font-size: 40px;
        }
        >p{
            color: #777;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.625em;
            text-align: center;
        }
    }
}
/* ___________________________ end of .container _____________________ */
/* ________________________________ start of .menu-gallary_________________ */
.menu-gallary{
    width: 100%;
    height: 150vh;
    /* border: 3px solid red; */
    background-color: #F9F9FF;
    >div{
        width: 100%;
        height: 120px;
        /* border: 3px solid green; */
        display: flex;
        justify-content: center;
        >nav{
            width: 80%;
            height: 100%;
            /* background-color: darkblue; */
            >ul{
                /* width: 100%; */
                height: 100%;
                display: flex;
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                /* background-color: darkblue; */
                border-radius: 19PX;
                >li{
                    /* border: 2px solid red; */
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    &:nth-of-type(1)>a{
                        background-color: #f42f2c;
                        border-top-left-radius: 19px;
                        border-bottom-left-radius: 19px;
                        color: white;
                    }
                    >a{
                        /* width: 100%; */
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: #222;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    /* __________________ end of div __________________ */
    >section{
        width: 100%;
        height: 80%;
        /* border: 3px solid black; */
        margin-top: 40px;
        display: flex;
        justify-content: center;
        >.figure{
            width: 80%;
            height: 100%;
            /* border: 3px solid green; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >figure{
                width: 350px;
                height:450px;
                /* border: 3px soli/d gold; */
                &:nth-of-type(1){
                    width: 370px;
                    height: 250px;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(2){
                    width: 370px;
                    height: 380px;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(3){
                    width: 370px;
                    height: 250px;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(4){
                    width: 370px;
                    height: 380px;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-of-type(5){
                    width: 370px;
                    height: 300px;
                    /* border: 3px solid darkblue; */
                    padding-top: 40px;
                }
            }
            /* _____________ end of figure ________________ */
        }
        /* _________________- end of .figure ______________- */
    }
    /* _________________ end of section __________________ */
}
/* ______________________ end of .menu gallary ______________________ */
/* ___________________________ start of .review-area _______________________ */
.review-area{
    width: 100%;
    height: 75vh;
    /* border: 3px solid black; */
    background-image: url(img/review-bg.jpg);
    background-size: 100% auto;
    justify-content: center;
    >section{
        width: 80%;
        height: 40%;
        /* border: 3px solid red; */
        display: flex;
        justify-content: center;
        padding-top: 100px;
        margin-left: 150px;
        >figure{
            width: 80px;
            height: 80px;
            /* background-color: darkblue; */
            border-radius: 50%;
            overflow: hidden;
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    /* ________________- end of section -__________________ */
    >div{
        width: 100%;
        height: 60%;
        /* border: 3px solid green; */
        >h3{
            text-align: center;
            font-size: 30px;
            font-family: "Poiret One", cursive;
            background-image: url(img/cnKl1Ykd5rZCVwm.jpg);
            background-clip: text;
            color: transparent;
        }
        >p{
            width: 500px;
            height: 100px;
            text-align: center;
            margin-left: 460px;
            color: #777777;
            padding-top: 20px;
        }
    }
}
/* ___________________________ end of .review-area _______________________ */
/* _____________________________ start of .row-d-flex ___________________ */
.row-d-flex{
    width: 100%;
    height: 200px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    >div{
        width: 45%;
        height: 230px;
        /* border: 2px solid red; */
        margin-top: 90px;
        >h3{
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            line-height: 1.2em;
            color: #222;
            text-align: center;
            /* line-height: 90px; */
            font-size: 40px;
        }
        >p{
            color: #777;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.625em;
            text-align: center;
        }
    }
}
/* ________________________- end of .row-d-flex________________________ */
/* ___________________________ start of #about-menu _____________________- */
#about-menu{
    width: 100%;
    height: 70vh;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 80px;
    >section{
        width: 80%;
        height: 100%;
        /* border: 3px solid red; */
        display: flex;
        justify-content: space-between;
        >figure{
            width: 270px;
            height: 400px;
            /* border: 3px solid green; */
            >figcaption{
                /* width: 100%; */
                /* height: 100%; */
                >p{
                    color: #fff;
                    background-color: #111;
                    margin-top: 10px;
                    height: 30px;
                    width: 180px;
                    text-align: center;
                    line-height: 30px;
                }
                >h4{
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    height: 100%;
                    font-size: 20px;
                    margin-top: 10px;
                    transition: .1s;
                    cursor: pointer;
                }
                >.date{
                    background-color: transparent;
                    color: #777777;
                    width:100%;
                    height: 100%;
                    font-size: 20px;
                    text-align: center;
                }
                >div{
                    width: 100%;
                    height: 40px;
                    /* background-color: red; */
                    margin-top: 35px;
                    display: flex;
                    justify-content: space-between;
                    >p{
                        width: 50%;
                        /* border: 3px solid purple; */
                        color: #777777;
                        >i{
                            height: 100%;
                            padding-right: 7px;
                            line-height: 35px;
                            color: #777777;
                        }
                    }
                }
            }
            &:hover>figcaption>h4{
                color: #f42f2c;
            }
        }
        /* _______________________- end of figure -________________________ */
    }
    /* ______________________ end of section _____________________ */
}
/* ____________________________- end of #about-menu -________________________ */
/* ____________________________ start of .footer _______________________ */
.footer{
    width: 100%;
    height: 80vh;
    background-color: #f42f2c;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    >section{
        width: 80%;
        height: 90%;
        /* border: 3px solid black; */
        display: flex;
        >div{
            width: 400px;
            height: 50px;
            /* border: 3px solid green; */
            >h4{
                font-family: "Poppins", sans-serif;
                line-height: 1.2em !important;
                font-weight: 600;
                font-size: 20px;
                color: #fff;
                /* text-align: center; */
                padding-top: 120px;
            }
            >ul{
                width: 90%;
                height: 100%;
                margin-top: 30px;
                border-bottom: 1px solid #ffffff7b;
                /* border: 3px solid green; */
                >li{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    color: #fff;
                    >span{
                        font-family: "Poppins", sans-serif;
                        font-weight: 500;
                    }
                }
            }
            &:nth-of-type(2){
                >p{
                    color: #fff;
                    padding-top: 30px;
                    font-size: 20px;
                    &:nth-of-type(1){
                        padding-bottom: 20px;
                    }
                }
            }
            &:nth-of-type(3){
                >p{
                    color: #fff;
                    font-size: 20px;
                    padding-top: 30px;
                }
                >input{
                    width: 300px;
                    height: 40px;
                    border-radius: 60px;
                    padding-left: 20px;
                    border: none;
                    margin-top: 30px;
                }
            }    
        }
        /* _________________________ end of all div ____________________ */
    }
    /* __________________________ end of section _____________________- */
}
/* ____________________________ end of .footer _______________________ */
/* ________________________________ start of .end-footer ________________ */
.end-footer{
    width: 100%;
    height: 80px;
    background-color: #222;
    display: flex;
    justify-content: center;
    >div{
        width: 90%;
        height: 100%;
        /* background-color: orange; */
        display: flex;
        >section{
            width: 50%;
            height: 100%;
            /* border: 3px solid green; */
            &:nth-of-type(1){
                width: 1000px;
                align-items: center;
                >p{
                    text-align: center;
                    line-height: 80px;
                    color: #fff;
                    >a{
                        color: #f42f2c;
                        text-transform: capitalize;
                        text-decoration: none;
                    }
                }
            }
            /* ___________________ end of section1 _____________________ */
            &:nth-of-type(2){
                display: flex;
                justify-content: flex-end;
                justify-content: center;
                >ul{
                    display: flex;
                    justify-content: center;
                    >li{
                        list-style: none;
                        padding-inline: 3px;
                        font-size: 20px;
                        display:flex;
                        margin-top: 25px;
                        >a{
                            width: 40px;
                            height: 30px;
                            color: #fff;
                            text-align: center;
                            line-height:30px ;
                            background-color: black;
                            transition: .4s;
                            &:hover{
                                background-color: #f42f2c;
                                color: #111;
                            }
                        }
                    }
                }
            }
            /* _______________________ end of section2 ______________________ */
        }
        /* _______________________- end of all section -____________________ */
    }
    /* __________________- end of div -___________________________ */
}
/* ________________________________ end of .end-footer ________________ */